@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto&display=swap');

$font-logo: "Mouse Memoirs", sans-serif;
$font-primary: "Roboto", sans-serif;

$color-primary: rgb(45, 60, 104);
$color-secondary: rgb(17, 204, 237);
$color-white: rgb(255, 255, 248);
$color-black: rgb(15, 15, 15);
$color-footer-background: rgb(247, 242, 190);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-white;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1{
        font-size: 50px;
        color: $color-primary;
        font-family: $font-logo;
    }
}

.login-button{
    color: $color-primary;
    font-family: $font-primary;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid $color-primary;
    padding: 10px 15px;
}

h2{
    text-align: center;
    margin: 40px 25px;
    color: $color-secondary;
    font-family: $font-primary;
    font-size: 30px;
}

#iphone{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

h3{
    text-align: center;
    margin: 40px 20px;
    color: $color-primary;
    font-family: $font-primary;
    font-size: 23px;
}

h4{
    text-align: center;
    margin: 40px 22px;
    color: $color-secondary;
    font-family: $font-primary;
    font-size: 20px;
}

h5{
    text-align: center;
    margin: 40px 20px;
    color: $color-primary;
    font-family: $font-primary;
    font-size: 20px;
    font-weight: lighter;
}

.main-button{
    display: flex;
    justify-content: center;
    margin: 60px 0px;

    button{
        color: $color-white;
        background-color: $color-primary;
        border: 0px solid;
        font-family: $font-primary;
        font-weight: 300;
        font-size: 25px;
        border-radius: 5px;
        padding: 10px 30px;
    }
}

.penguin-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 10px;
    p{
        text-align: center;
        color: $color-primary;
        font-family: $font-primary;
        font-size: 18px;
        font-weight: lighter;
        span{
            font-weight: bold;
        }
    }
}

footer{
    background-color: $color-footer-background;
    h6{
        font-size: 25px;
        font-family: $font-primary;
        color: $color-primary;
        font-weight: 80;
        display: flex;
        justify-content: center;
        background-color: $color-footer-background;
        padding: 15px 0px;
    }
}